<section>
<hr>

<p>Most travelers ask about</p>

<div class="container-1">
    <h1>Getting there</h1>
    <ul>
        <li>Free parking on the premises.</li>
        <li>Check-in time for this home starts at 1:00 PM and checkout is at 11:00 AM.</li>
    </ul>
</div>

<div class="container-2">
    <h1>House details and rules</h1>
    <ul>
        <li>No parties or events.</li>
    </ul>
</div>

<div class="container-3">
    <h1>Price and availability</h1>
    <ul>
        <li>Made’s home is available from Jan 24 – 29. Book soon.</li>
        <li>Full refund within limited period</li>
    </ul>
</div>
<hr>

<div class="container-4">
    <h2>Still have questions? Message the Host</h2>
    <label for=""></label>
    <textarea cols="78" rows="6"></textarea>
</div>
<button>Send message</button>

</section>
