<div  class="modal custom fade"  id="signup" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered " style="background-color: #fff;">
    <div class="modal-content">
       

<form  
class="form" 

#form="ngForm"
(ngSubmit)="onFormSubmit(form)">

 
<h1 class="form__header">Sign up<span type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></span></h1>
 <div class="wrapper">
  <div class="form-floating mb-3">
    <input
    ngModel
    name="userName" 
  
    type="text" class="form-control name shadow-none" 
    id="name1" 
    placeholder="name" 
    maxlength="10">
    <label for="name1">First name</label>
    <!-- <div *ngIf="submitted && signupForm.controls.firstName.errors">
      <div class="popup " *ngIf="submitted && signupForm.controls.firstName.errors.required">Name is required</div>
      <div class="popup popfirstwrong" *ngIf="submitted && signupForm.controls.firstName.errors.minlength">Name should be at least 6 charecters</div>

    </div> -->
  </div>

  <div class="form-floating mb-3">
    <input  
    name="password" 
    
     type="password" 
     class="form-control shadow-none" 
     ngModel 
     placeholder="password" 
     id="password1" 
     maxlength="8" >
    <label for="password1">Password</label>
    <!-- <div *ngIf="submitted && signupForm.controls.Password.errors">
      <div class="popup "*ngIf="submitted && signupForm.controls.Password.errors.required">password is required</div>
      <div class="popup popfirstwrong" *ngIf="submitted && signupForm.controls.Password.errors.minlength">should be at least 6 charecters</div>
    </div> -->
  </div>
<p class="input__wrapper__text">Make sure it matches the name on your government ID.</p>
</div>


<div class="wrapper">


<div class="form-floating mb-3">
  <input  
  name="email" 

  type="email" 
  class="form-control shadow-none" 
  ngModel  
  id="email" 
  placeholder="name@example.com" 
 
  >
  <label for="email">Email address</label>
  <!-- <div *ngIf="submitted && signupForm.controls.Email.errors">
    <div class="popup popemail" *ngIf="submitted && signupForm.controls.Email.errors.required">Email is required</div>
    <div class="popup popemailwrong" *ngIf="submitted && signupForm.controls.Email.errors.email">
    

  </div> 
  </div> -->
 
</div>


<p class="input__wrapper__text">We'll email you trip confirmations and receipts.</p>

</div>

<button 
type="submit"  
class="btn form__button">Register</button>


<div class="form__line">or</div>
<button class="form__button"><span><img src="assets/images/facebook-logo.png" alt="" width="20px"> Continue with Facebook</span> </button>
<button class="form__button"><span><img src="assets/images/google-logo.png" alt="" width="20px"> Continue with Google</span></button>

</form>

    </div>
  </div>
</div>








