

  <section class="languages ">
    <h2 class="languages__header ">Host languages</h2>
    
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="English">
        <label class="form-check-label" for="English">
         <h3 class="checkboxHeader">English</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="French">
        <label class="form-check-label" for="French">
         <h3 class="checkboxHeader">French</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="German">
        <label class="form-check-label" for="German">
         <h3 class="checkboxHeader">German</h3>
        </label>
      </div>
 
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Japanese">
          <label class="form-check-label" for="Japanese">
           <h3 class="checkboxHeader">Japanese</h3>
          </label>
        </div>
    
   
    
      </section>





