.intro {
  margin-top: 120px;
}

.hotel-desc {
  margin-bottom: 30px;
}
.hotel-desc h4 {
  font-size: 26px;
}
.hotel-desc span {
  margin-left: 10px;
  text-decoration: underline;
}
.hotel-desc span:hover {
  cursor: pointer;
}

.image-area {
  display: flex;
}

img {
  object-fit: cover;
}
img:hover {
  filter: contrast(70%);
  transition: 0.4s;
  cursor: pointer;
}

.left img {
  height: 480px;
  width: 560px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.right img {
  height: 235px;
  width: 272px;
  margin-left: 10px;
}
.right img:nth-child(3) {
  margin-top: 10px;
}
.right img:nth-child(4) {
  margin-top: 10px;
  border-bottom-right-radius: 15px;
}
.right img:nth-child(2) {
  border-top-right-radius: 15px;
}

section {
  width: 48% !important;
  margin-left: 100px;
}
section .container .hotel-info {
  margin-top: 50px;
}
section .container .hotel-info h6 {
  font-size: 22px;
  font-weight: lighter;
}
section .container .hotel-info span {
  font-size: 16px;
  color: rgb(50, 50, 50);
}