
<app-header></app-header>
<section>


<div class="container intro">
  <div class="hotel-desc">
    <h4>{{singleHotel.name}}</h4>
    <span>5 reviews</span>
    <span>{{singleHotel.city}} {{singleHotel.country}}</span>
  </div>

    <div class="image-area">
        <aside class="left">
            <img [src]="singleHotel.rooms[0].images[0]" alt="">
        </aside>
        <aside class="right">
            <img [src]="singleHotel.rooms[0].images[1]" alt="">
            <img [src]="singleHotel.rooms[0].images[5]" alt="">
            <img [src]="singleHotel.rooms[0].images[3]" alt="">
            <img [src]="singleHotel.rooms[0].images[4]" alt="">
        </aside>
    </div>

</div>

<section>
  <div class="container">
    <div class="test">
      <div class="hotel-info">
        <h6>{{singleHotel.hostInformation.hostName}}</h6>        

        <span>2 guests</span>
        <span>1 bedroom</span>
        <span>1 bed</span>
        <span>1 bath</span>
      </div>
      <div class="hotel-circle-img">
        <img src="https://a0.muscache.com/im/pictures/user/a6ccc650-1184-4401-8f29-4a7aabfc140b.jpg?im_w=240" alt="">
      </div>
    </div>
  
    <hr>
    <div class="hotel-details">
      <div class="icon-area">
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faHeart"></fa-icon>
        <fa-icon [icon]="faFile"></fa-icon>
      </div>
      <div class="hotel-est">
          <h6>Experienced host</h6>
          <p>Gaspard has 117 reviews for other places.</p>
          <h6>Highly rated Host</h6>
          <p>Gaspard has received 5-star ratings from 90% of recent guests.</p>
          <h6>Free cancellation for 48 hours.</h6>
      </div>
    </div>
    <hr>

    <div class="protection">
      <img src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg" alt="">
      <p>Every booking includes free protection from Host cancellations, listing inaccuracies, and other issues like trouble checking in.</p>
      <span>Learn more</span>
    </div>
    <hr>
    <p>hello</p>
  </div>

 
</section>
</section>
