<app-header></app-header>
<section>
  <div class="container intro">
    <div class="hotel-desc">
      <h4>{{singleHotel.name}}</h4>
      <fa-icon [icon]="faStar"></fa-icon>
      <span>{{singleHotel.starCount}}.0</span>
      <span>·</span>
      <span>5 reviews </span>
      <span>·</span>
      <span> {{ singleHotel.city}} {{singleHotel.country}}</span>
    </div>
    <div class="image-area">
      <aside class="left">
        <img [src]="singleHotel.rooms[0].images[0]" alt="">
      </aside>
      <aside class="right">
        <img [src]="singleHotel.rooms[0].images[1]" alt="">
        <img [src]="singleHotel.rooms[0].images[5]" alt="">
        <img [src]="singleHotel.rooms[0].images[3]" alt="">
        <img [src]="singleHotel.rooms[0].images[4]" alt="">
      </aside>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="test">
        <div class="hotel-info">
          <h6>{{singleHotel.hostInformation.hostName }}</h6>
          <span>{{singleHotel.rooms[0].personsCount }} guests </span>
          <span>·</span>
          <span>1 bedroom</span>
          <span>·</span>
          <span>{{ singleHotel.rooms[0].bedsCount }} bed</span>
          <span>·</span>
          <span>{{ singleHotel.rooms[0].bathRoomsCount }} bath</span>
        </div>
        <div class="hotel-circle-img">
          <img src="https://a0.muscache.com/im/pictures/user/a6ccc650-1184-4401-8f29-4a7aabfc140b.jpg?im_w=240" alt="">
        </div>
      </div>
      <hr>
      <div class="hotel-details">
        <div class="icon-area">
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faHeart"></fa-icon>
          <fa-icon [icon]="faFile"></fa-icon>
        </div>
        <div class="hotel-est">
          <h6>Experienced host</h6>
          <p>Gaspard has 117 reviews for other places.</p>
          <h6>Highly rated Host</h6>
          <p>Gaspard has received 5-star ratings from 90% of recent guests.</p>
          <h6>Free cancellation for 48 hours.</h6>
        </div>
      </div>
      <hr>
      <div class="protection">
        <img src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg" alt="">
        <p>Every booking includes free protection from Host cancellations, listing inaccuracies, and other issues like
          trouble checking in.</p>
        <span>Learn more</span>
      </div>
      <hr>
      <div class="description">
        <p>{{singleHotel.description}}</p>
      </div>
      <hr>
      <div class="sleep-opt">
        <h4>Where you'll sleep</h4>
        <aside>
          <div *ngFor="let bedroom of singleHotel.rooms let i = index" class="bed-rooms">
            <fa-icon [icon]="faBed" [ngStyle]="{'font-size.px': 25}"></fa-icon>
            <h6>Bedroom {{i+1}}</h6>
            <p>{{bedroom.name}}</p>
          </div>
        </aside>
      </div>
      <hr>
      <div class="place-offers">
        <h4>What this place offers</h4>
        <div class="list-box">
          <aside class="left">
            <ul *ngFor="let item of singleHotel.placeOffers let i = index">
              <li *ngIf="i < 5">{{item}}</li>
            </ul>
          </aside>
          <aside class="right">
            <ul *ngFor="let item of singleHotel.placeOffers let i = index">
              <li *ngIf="i >= 5 && i < 10">{{item}}</li>
            </ul>
          </aside>
        </div>
        <div class="btn-area">
          <button>show al 24 amenities</button>
        </div>
      </div>
      <hr>
      <div class="calendar">
        <h4>Select checkout date</h4>
        <p>Add your travel dates for exact pricing</p>
        <div class="calendar-box">
          <aside class="left-calendar">
            <mat-card class="demo-inline-calendar-card">
              <span>Check In</span>
              <mat-calendar
              [minDate]="minDate"
              (selectedChange)="checkIn($event)" 
              [(selected)]="userCheckIn"></mat-calendar>
            </mat-card>
          </aside>
          <aside class="right-calendar">
              <mat-card class="demo-inline-calendar-card">
                <span>Check Out</span>
                <mat-calendar 
                 [minDate]="checkOutMinDate"
                 (selectedChange)="checkOut($event)"
                [(selected)]="userCheckOut"></mat-calendar>
              </mat-card>
          </aside>
        </div>
      </div>
      <hr class="long-hr">

      <div class="map-container">
        <h4>Where you’ll be</h4>
        <agm-map [latitude]='lat' [longitude]='long' [zoom]='zoom'>
          <agm-marker  [latitude]="lat" [longitude]="long">
            <agm-info-window #infoWindow>
              <!-- {{ marker.label }} -->
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <hr class="long-hr">

      <div class="host-box">
        <div class="host-info">
          <div class="host-img">
            <img src="https://a0.muscache.com/im/pictures/user/982b7cdd-0809-43cb-acb0-68698a290577.jpg?aki_policy=profile_large" alt="">
          </div>
          <div class="host-by">
            <h1>{{singleHotel.hostInformation.hostName}}</h1>
            <p>{{singleHotel.hostInformation.emailAddress}}</p>
            <p>{{singleHotel.hostInformation.phoneNumber}}</p>
          </div>
          
        </div>
        <div class="host-btn">
          <button
          routerLink="/host-pg/{{inDay}}:{{inMonth}}:{{inYear}}/{{outDay}}:{{outMonth}}:{{outYear}}"
          >Contact Host</button>
        </div>
          <div class="protect">
             <p>To protect your payment, never transfer money or communicate outside of the Airbnb website or app.</p> 
          </div>
      </div>
      <hr>

     
    </div>
  </section>
</section>




<div class="reserve-area" [ngClass]="userScroll ? 'fixed' : 'not-fixed'">
  <div class="hotel-detal">
    <div class="price">
      <h4>${{singleHotel.rooms[0].price}} <span>night</span> </h4>
    </div>
    <div class="rev">
      <span>5.0 · 5 reviews </span>
    </div>
  </div>
  <aside>
    <div class="check-in">
      <mat-form-field appearance="fill">
        <mat-label>Check In</mat-label>
        <input 
        [min]="minDate"
        matInput [matDatepicker]="picker1" 
        [formControl]="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="check-out">
      <mat-form-field appearance="fill">
        <mat-label>Check Out</mat-label>
        <input 
        [min]="checkOutMinDate"
        matInput [matDatepicker]="picker2" 
        [formControl]="serializedDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

  </aside>
  <div class="availability">
    <button
    routerLink="/ordered"
    [queryParams]="{
      price:singleHotel.rooms[0].price,
      night:differenceInDays,
      total:totalPrice,
      img:singleHotel.rooms[0].images[0],
      name:singleHotel.name,
      type:singleHotel.typeOfPlace,
      star:singleHotel.starCount,
      inMonth:checkInMonthString,
      inDay:inDay,
      outMonth:checkOutMonthString,
      outDay:outDay,
      guests:singleHotel.rooms[0].personsCount,
      id:singleHotel.id
    }"
    >Reserve</button>
  </div>
  <div class="price-box">
    <div class="night">
      <p>${{singleHotel.rooms[0].price}} x {{differenceInDays}} nights</p>
    </div>
    <div class="price">
       <p>${{totalPrice}}</p>
    </div>
   </div>
   <hr>
   <div class="total">
    <div class="total-title">
      <h3>Total before taxes</h3>
    </div>
    <div class="total-price">
      <h3 >${{totalPrice}}</h3>
    </div>
   </div>
</div>
