
<section>
    <article>
        <div class="image col-12 d-flex justify-content-between">
            <img id="image-tbc" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e2/TBC_Bank_logo.svg/833px-TBC_Bank_logo.svg.png?20191209200336">
            <img id="image-mastercard" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/1158px-Mastercard-logo.svg.png?20210817144358">
        </div>
        <h3>დადასტურება / Confirnmation</h3>
        <hr>
        <div>
              <div class="form-group">
                <label for="exampleInputNumber">შეიყვანეთ სმს კოდი / Enter SMS code:</label>
                <input type="number" class="form-control" id="exampleInputNumber" placeholder=" - - - - - - ">
              
            </div>
        </div>
        <div>
            <button 
            
            (click)="onBtnClick()"
            type="button" class="btn btn-primary">დადასტურება/Verify</button>
            <button type="button" class="btn btn-light">კოდის ხელახლა გაგზავნა / Resend Code</button>
        </div>
        <br>
    </article>
</section> 
<!-- <app-footer></app-footer> -->