
  <owl-carousel-o [options]="customOptions" class="slider" >
   
    <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>  
    <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template> 
    <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template> 
    <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template>   <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template> 
    <ng-template carouselSlide >
      <div class="slide">
        
        <img src="assets/images/house.png "  alt="img 1" class="slider__slide__image"> 
        <span class="slider__slide__name">of-the-gird </span>
       
      </div>

    </ng-template> 
     
   
  </owl-carousel-o>
