section {
    margin: 80px;
    margin-top: 200px;

    h1 {
        font-size: 30px;
    }
    span {
        text-decoration: underline;
    }

article {
    .card {
        display: flex;
        flex-direction: row;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap:5px;
        border-radius: 12px;

    }
           
    img {
       
        width:900px;
        height: 298px;
        object-fit:cover;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .card-body {
        margin: 20px;
        // margin-left:230px;
    }

    .btn-primary {
        cursor: pointer !important;
        border: none !important;
        background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
        color: rgb(255, 255, 255) !important;
        text-align: center !important;
        height: 50px !important;
        width: 150px !important;
        transition: opacity 1.25s;
        font-size : 16px;
        padding: 10px;
        }
    }
 .history {
    display: inline;
    img {
        height: 100px;
        width: 100px;
        margin-right: 50px;
        display: inline;
        border-radius: 12px;
    }
    .info {
        h5{
            font-size: 23px;
        }
        p{ 
            font-size: 17px;
        }
        
    }
 }
}