

  <section class="Amenities ">
    <h2 class="Amenities__header ">Amenities</h2>


    <h3 class="Amenities__text">Essentials</h3>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="wifi">
        <label class="form-check-label" for="wifi">
         <h3 class="checkboxHeader">wifi</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Kitchen">
        <label class="form-check-label" for="Kitchen">
         <h3 class="checkboxHeader">Kitchen</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Washer">
        <label class="form-check-label" for="Washer">
         <h3 class="checkboxHeader">Washer</h3>
        </label>
      </div>
 
   


      <h3 class="Amenities__text">Features</h3>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Pool">
          <label class="form-check-label" for="Pool">
           <h3 class="checkboxHeader">Pool</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Hot tub">
          <label class="form-check-label" for="Hot tub">
           <h3 class="checkboxHeader">Hot tub</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Free parking on premises">
          <label class="form-check-label" for="Free parking on premises">
           <h3 class="checkboxHeader">Free parking on premises</h3>
          </label>
        </div>
      
    
      </section>




