<section class="rooms ">
    <h2 class="rooms__header  ">Rooms and beds</h2>
    <h3 class="rooms__text">Bedrooms</h3>
    <div class="rooms__Bedrooms">
        <button class="rooms__Bedrooms__button">Any</button>
        <button class="rooms__Bedrooms__button">1</button>
        <button class="rooms__Bedrooms__button">2</button>
        <button class="rooms__Bedrooms__button">3</button>
        <button class="rooms__Bedrooms__button">4</button>
        <button class="rooms__Bedrooms__button">5</button>
        <button class="rooms__Bedrooms__button">6</button>
        <button class="rooms__Bedrooms__button">7</button>
        <button class="rooms__Bedrooms__button">8+</button>
    </div>
    
    <h3 class="rooms__text">Beds</h3>
    <div class="rooms__Bedrooms" >
        <button class="rooms__Bedrooms__button beds">Any</button>
        <button class="rooms__Bedrooms__button beds">1</button>
        <button class="rooms__Bedrooms__button beds">2</button>
        <button class="rooms__Bedrooms__button beds">3</button>
        <button class="rooms__Bedrooms__button beds">4</button>
        <button class="rooms__Bedrooms__button beds">5</button>
        <button class="rooms__Bedrooms__button beds">6</button>
        <button class="rooms__Bedrooms__button beds">7</button>
        <button class="rooms__Bedrooms__button beds">8+</button>
    </div>
    
    <h3 class="rooms__text">Bathrooms</h3>
    <div class="rooms__Bedrooms">
        <button class="rooms__Bedrooms__button bathrooms">Any</button>
        <button class="rooms__Bedrooms__button bathrooms">1</button>
        <button class="rooms__Bedrooms__button bathrooms">2</button>
        <button class="rooms__Bedrooms__button bathrooms">3</button>
        <button class="rooms__Bedrooms__button bathrooms">4</button>
        <button class="rooms__Bedrooms__button bathrooms">5</button>
        <button class="rooms__Bedrooms__button bathrooms">6</button>
        <button class="rooms__Bedrooms__button bathrooms">7</button>
        <button class="rooms__Bedrooms__button bathrooms">8+</button>
    </div>
      </section>
    
    
