.property{
    max-width: 725px;
    padding: 15px 0 15px 25px;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 52px;

}
.property__header {
    font-size: 24px;  
    width: 100%;
    
}
.property__wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top:15px ;
}
.property__wrapper__type{
    width: 161px;
    height: 124px;
    border-radius: 12px;
    border: 1px solid #D7D7D7;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.property__wrapper__type:hover{
    border: 1px solid #000;
}
.property__wrapper__type--image{
    width: 46px;
    height: 46px;
    padding: 12px 0 0 12px;
}

.property__wrapper__type--text{
    margin: 0;
    padding: 0 0 12px 12px;
    // font-weight: 600;
    font-size: 16px;
}

