
<section class="property">
    <h2 class="property__header">Property types</h2>
       <div class="property__wrapper">
           <div class="property__wrapper__type">
             <img src="/assets/images/house.png" alt="" class="property__wrapper__type--image">

              <h3 class="property__wrapper__type--text">House</h3>
           </div>
           <div class="property__wrapper__type">
            <img src="/assets/images/apartment.png" alt="" class="property__wrapper__type--image">

             <h3 class="property__wrapper__type--text">Apartment</h3>
          </div>
          <div class="property__wrapper__type">
            <img src="/assets/images/guesthouse.png" alt="" class="property__wrapper__type--image">

             <h3 class="property__wrapper__type--text">Guesthouse</h3>
          </div>
          <div class="property__wrapper__type">
            <img src="/assets/images/hotel.png" alt="" class="property__wrapper__type--image">

             <h3 class="property__wrapper__type--text">Hotel</h3>
          </div>
    
       </div>

</section>
