<section class="typeOfPlace">
    <h1 class="typeOfPlace__header">Type of place</h1>
     <div class="typeOfPlace__wrapper">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
        <label class="form-check-label" for="flexCheckDefault1">
         <h3 class="checkboxHeader">Entire place</h3>
         <p class="checkboxText">A place all to yourself</p>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
         <h3 class="checkboxHeader">Shared room</h3>
         <p class="checkboxText">A sleeping space and common areas that may be shared with others</p>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
        <label class="form-check-label" for="flexCheckDefault3">
         <h3 class="checkboxHeader">Private room</h3>
         <p class="checkboxText">Your own room in a home or a hotel, plus some shared common spaces</p>
        </label>
      </div>
      </div>
    </section>
