<div class="user">
    <a href="#" class="btn home">Airbnb your home</a>
    <button type="button" class="btn earth"><img src="/assets//images/earth.png" alt="earth"></button>
    <div clickOutside (clickOutside)="clickedOutside()" >
    <button type="button" class="btn login" alt=""(click)="toggleLogin()"><div><img src="/assets/images/burger.png"  class="burger"><img src="/assets/images/person.png" alt="" class="person"> </div></button> 
    </div>
    <div class="list-group sign-in"  *ngIf="show">
     
        <button 
        
        type="button" 
        class="list-group-item list-group-item-action" data-bs-toggle="modal" href="#signup" >Sign up</button>
        <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" href="#login">Log in</button>
       
      </div>
</div>

