
 <div  class="modal custom fade"  id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered " style="background-color: #fff;">
      
      <div class="modal-content">
         

<form action="" class="form">

    <h1 class="form__header">Sign up<span type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></span></h1>
   <div class="wrapper">
  <div  class="input__wrapper ">
    <input type="text" class="input name" placeholder="First name" id="firstname" required/>
    <label for="firstname" class="form-label">First name</label>
  </div>
  <div class="input__wrapper">
    <input id="lastname" type="text" class="input lastname" placeholder="Last name" required/>
    <span for="lastname" class="form-label">Last name</span>
    
  </div>
<p class="input__wrapper__text">Make sure it matches the name on your government ID.</p>
</div>

<div class="wrapper">
<div class="input__wrapper">
    <input id="date" type="date" class="input" placeholder="Birthdate" required/>
    <span for="date" class="form-label">Birthdate</span>
  </div>
  <p class="input__wrapper__text">To sign up, you need to be at least 18. Your birthday won’t be shared with other people who use Airbnb.</p>
  </div>

  <div class="wrapper">
  <div class="input__wrapper">
    <input id="email" type="email" class="input" placeholder="Email" required/>
    <span for="date" class="form-label">Email</span>
  </div>
  <p class="input__wrapper__text">We'll email you trip confirmations and receipts.</p>

  </div>

  <button class="form__button">Register</button>
  <div class="form__line">or</div>
  <button class="form__button"><span><img src="assets/images/facebook-logo.png" alt="" width="20px"> Continue with Facebook</span> </button>
  <button class="form__button"><span><img src="assets/images/google-logo.png" alt="" width="20px"> Continue with Google</span></button>
 
  </form>

      </div>
    </div>
  </div>
 







