<section>
    
<div class="account">
    <span class="account1">Account</span>
    <span class="arrow">></span>
    <span class="personal">Personal info</span>
    <h1>Personal Info</h1>
    
</div>

<div class="legal">

    <div class="cont-1">
        <h2>Firstname</h2> 
        <h3>{{userInfo.firstName}}</h3>
    </div>
    
    
    
    
    
</div>


<div class="legal">

    <div class="cont-1">
        <h2>Email address</h2> 
        <h3>{{userInfo.email}}</h3>
    </div>
    
    

    
    
</div>






    





    
    

















 <!-- <div class="legal">
    <h2>Email address</h2> 
    <span class="edit">Edit</span>
</div>
<h3>T***a@gmail.com</h3>


<div class="legal">
    <h2>Phone Number</h2> 
    <span class="edit">Edit</span>
</div>
<h3>+995 *** ** 38 67</h3> 


<div class="legal">
    <h2>Govenment ID</h2> 
    <span class="edit">Edit</span>
</div>
<h3>Not provided</h3> 

<div class="legal">
    <h2>Address</h2> 
    <span class="edit">Edit</span>
</div>
<h3>Not provided</h3> 


<div class="legal">
    <h2>Emergency contact</h2> 
    <span class="edit">Edit</span>
</div>
<h3>Not provided</h3>  -->






</section>
