

  <section class="Amenities ">
    <h2 class="Amenities__header ">Amenities</h2>


    <h3 class="Amenities__text">Essentials</h3>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="wifi">
        <label class="form-check-label" for="wifi">
         <h3 class="checkboxHeader">wifi</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Kitchen">
        <label class="form-check-label" for="Kitchen">
         <h3 class="checkboxHeader">Kitchen</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Washer">
        <label class="form-check-label" for="Washer">
         <h3 class="checkboxHeader">Washer</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="dryer">
        <label class="form-check-label" for="dryer">
         <h3 class="checkboxHeader">Dryer</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Airconditioning">
        <label class="form-check-label" for="Airconditioning">
         <h3 class="checkboxHeader">Air conditioning</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Heating">
        <label class="form-check-label" for="Heating">
         <h3 class="checkboxHeader">Heating</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Dedicatedworkspace">
        <label class="form-check-label" for="Dedicatedworkspace">
         <h3 class="checkboxHeader">Dedicated workspace</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="tv">
        <label class="form-check-label" for="tv">
         <h3 class="checkboxHeader">TV</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="hairdryer">
        <label class="form-check-label" for="hairdryer">
         <h3 class="checkboxHeader">Hair dryer</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="iron">
        <label class="form-check-label" for="iron">
         <h3 class="checkboxHeader">Iron</h3>
        </label>
      </div>
   


      <h3 class="Amenities__text">Features</h3>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Pool">
          <label class="form-check-label" for="Pool">
           <h3 class="checkboxHeader">Pool</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="hottub">
          <label class="form-check-label" for="hottub">
           <h3 class="checkboxHeader">Hot tub</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="freeparkingonpremises">
          <label class="form-check-label" for="freeparkingonpremises">
           <h3 class="checkboxHeader">Free parking on premises</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="evcharger">
          <label class="form-check-label" for="evcharger">
           <h3 class="checkboxHeader">Ev charger</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="crib">
          <label class="form-check-label" for="crib">
           <h3 class="checkboxHeader">Crib</h3>
          </label>
        </div>
      
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="gym">
          <label class="form-check-label" for="gym">
           <h3 class="checkboxHeader">Gym</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="bbqgrill">
          <label class="form-check-label" for="bbqgrill">
           <h3 class="checkboxHeader">BBQ grill</h3>
          </label>
        </div>
      
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="breakfast">
          <label class="form-check-label" for="breakfast">
           <h3 class="checkboxHeader">Breakfast</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="indoorfireplace">
          <label class="form-check-label" for="indoorfireplace">
           <h3 class="checkboxHeader">Indoor fireplace</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="smokingallowed">
          <label class="form-check-label" for="smokingallowed">
           <h3 class="checkboxHeader">Smoking allowed</h3>
          </label>
        </div>
      
      
    
      </section>




