<!-- <app-header></app-header> -->

<section>
    <!-- <article> -->
        <h1>Trips</h1>
        <!-- <aside class="col-md-5">  -->
        <article class="info col-md-12 d-flex justify-content-between">
        <aside class="col-md-5 ">
        <h2>No trips booked...yet!</h2>
         <h3>Time to dust off your bags and start planning your next adventure</h3>
         <button type="button" class="btn btn-primary btn-lg">Start searching</button>
        </aside>
        <aside class="col-md-3">
         <img src="https://a0.muscache.com/im/pictures/d727f355-3f10-44b5-9750-d1efca2438fc.jpg?im_w=320">
        </aside>
        <!-- <h2>Where you've been</h2>
        here will be card (hotel)
        <hr>
        <p>Can't find your reservation here?<span>Visit the Help Center</span></p> -->
    </article>
    <h2>Where you've been</h2>
    <p>card</p>
    <!-- here will be card (hotel) -->
    <hr>
    <p>Can't find your reservation here?<span>Visit the Help Center</span></p>
</section>



<app-footer></app-footer>