.typeOfPlace{
    max-width: 725px;
    padding: 15px 0 15px 25px; 
    margin-bottom: 34px;

}
.typeOfPlace__header{
    font-size: 24px;
    margin-bottom: 20px; 
}
.typeOfPlace__wrapper{
    flex-wrap: wrap;
    display: flex;
}
.form-check{
    width: 350px;
     min-height: 60px;
    margin: 8px 0;  
    display: flex;
}
.form-check-input{
    width: 24px;
    height: 24px;
    box-shadow: none;
    border: 1px solid #808080;
}
.form-check-input:hover{
border: 1px solid #000;
}
.form-check-input:checked{
    background-color: black;
}
.form-check-label{
    width: 100%;
    padding-left: 18px;
    cursor: pointer;
    
}
.checkboxHeader{
    font-size: 16px;
}
.checkboxText{
    color: #717171 ;
    margin: -8px 0 0;
    font-size: 14px;
}
