:host {
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 142px;
}

.example-card {
  max-width: 270px;
  border-radius: 12px;
  margin-top: 40px;
  box-shadow: none;
  cursor: pointer;
}

.mat-card-image {
  height: 260px;
  border-radius: 12px;
}

.mat-card-subtitle {
  font-size: 15px;
  margin: 0 0 0 -15px;
  color: rgba(0, 0, 0, 0.54);
}

.mat-card-subtitle:first-of-type {
  padding: 7px 0;
}

h6, span {
  font-weight: bold;
}

img {
  height: 260px;
  object-fit: cover;
}

.carousel {
  margin: -16px !important;
  margin-left: -16px;
}

.carousel-inner {
  border-radius: 12px;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.mat-card-content:first-child {
  margin-top: 27px !important;
}

.cardText {
  margin-top: 27px;
}