  :host{
    padding: 0 80px 0 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 142px;    
    font-family: 'Montserrat'
}
.example-card {
    max-width: 270px;
    border-radius: 12px;
    margin-top: 40px;
    box-shadow: none;
    cursor: pointer;
  }

  .button{
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

.carousel-control-prev,.carousel-control-next{
border-radius: 50%;
opacity: 1;
background: #fff;
width: 28px;
height: 28px;
position: absolute;
top:50%;
left:10px;
transition: ease-in-out 0.2s;
}

.carousel-control-prev:hover{
  transform: scale(1.04);
}

.wrapper{
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: block;
  border:0.5px solid rgba(0, 0, 0, 0.3019607843);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  width: 10px;
  height: 10px;
}
.rightA{
  transform: rotate(180deg);
}
.nextA{
  left:calc(100% - 39px);
}
.nextA:hover{
  transform: scale(1.04);
}
h6,p{
  font-size: 15px;
}




img{
  height: 260px;
}
.carousel{
 margin: -16px!important;
  margin-left: -16px;
}
.carousel-inner{
  border-radius: 12px;
  margin-bottom: 16px;
}
.mat-card-content{
  margin-top: 27px;
  margin-left: -17px;
}
.cardText{
  margin-top:27px
}










