<main>
  <form #modalForm="ngForm" (ngSubmit)="filteredByCategory(modalForm)">

    <section class="price">
        <h1 class="price__header">Price range</h1>
        <p class="price__text">The average nightly price is $91</p>
        <div 
        ngModelGroup="price"
        class="price__range">
        <div class="price__range__wrapper">
          <span class="price__range__wrapper--label">min price</span>
          <input 
          ngModel
          class="price__range__wrapper--input" 
          name="minPrice"
          type="number" 
          value="10">
        </div>
        <div class="line"></div>
        <div class="price__range__wrapper">
          <span class="price__range__wrapper--label">max price</span>
          <input
          ngModel
          class="price__range__wrapper--input" 
          name="maxPrice"
          type="number" 
          value="200">
        </div>
        </div>
        </section>
        
        <section class="typeOfPlace">
            <h1 class="typeOfPlace__header">Type of place</h1>
             <div 
             ngModelGroup="typeOfPlace"
             class="typeOfPlace__wrapper">
            <div class="form-check">
                <input 
                (change)="test($event)"
                ngModel
                name="type"
                value="entire place" 
                class="form-check-input" 
                type="checkbox" 
                id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                 <h3 class="checkboxHeader">Entire place</h3>
                 <p class="checkboxText">A place all to yourself</p>
                </label>
              </div>
              <div class="form-check">
                <input 
                (change)="test($event)"
                ngModel
                name="type1"
                value="shared room"
                class="form-check-input" 
                type="checkbox"  
                id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2">
                 <h3 class="checkboxHeader">Shared room</h3>
                 <p class="checkboxText">A sleeping space and common areas that may be shared with others</p>
                </label>
              </div>
              <div class="form-check">
                <input 
                (change)="test($event)"
                ngModel
                name="type2"
                value="private room"
                class="form-check-input" 
                type="checkbox"  
                id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">
                 <h3 class="checkboxHeader">Private room</h3>
                 <p class="checkboxText">Your own room in a home or a hotel, plus some shared common spaces</p>
                </label>
              </div>
              </div>
            </section>
        

            <section class="rooms ">
                <h2 class="rooms__header  ">Rooms and beds</h2>
                <h3 class="rooms__text">Bedrooms</h3>
                <div ngModelGroup="roomsAndBeds">

                
                <div 
                ngModelGroup="bedrooms"
                class="rooms__Bedrooms">
                    <button class="rooms__Bedrooms__button">Any</button>
                    <button 
                    (click)="roomsAndBeds($event)"
                    value="{{num}}"
                    *ngFor="let num of numberArray"
                    class="rooms__Bedrooms__button">{{num}}</button>

                </div>
                
                <h3 class="rooms__text">Beds</h3>
                <div 
                ngModelGroup="rooms"
                class="rooms__Bedrooms" >
                    <button class="rooms__Bedrooms__button beds">Any</button>
                    <button 
                    *ngFor="let num of numberArray"
                    value="{{num}}"
                    (click)="roomsAndBeds($event)"
                    class="rooms__Bedrooms__button beds">{{num}}</button>
                </div>
                
                <h3 class="rooms__text">Bathrooms</h3>
                <div 
                ngModelGroup="bathrooms"
                class="rooms__Bedrooms">
                    <button class="rooms__Bedrooms__button bathrooms">Any</button>
                    <button 
                    *ngFor="let num of numberArray"
                    
                    value="{{num}}"
                    (click)="roomsAndBeds($event)"
                    class="rooms__Bedrooms__button bathrooms">{{num}}</button>
                </div>
              </div>
                  </section>
                 
             
<section class="property">
    <h2 class="property__header">Property types</h2>
       <div class="property__wrapper">
           <div class="property__wrapper__type">
             <img src="/assets/images/house.png" alt="" class="property__wrapper__type--image">

              <h3 class="property__wrapper__type--text">House</h3>
           </div>
           <div class="property__wrapper__type">
            <img src="/assets/images/apartment.png" alt="" class="property__wrapper__type--image">

             <h3 class="property__wrapper__type--text">Apartment</h3>
          </div>
          <div class="property__wrapper__type">
            <img src="/assets/images/guesthouse.png" alt="" class="property__wrapper__type--image">

             <h3 class="property__wrapper__type--text">Guesthouse</h3>
          </div>
          <div class="property__wrapper__type">
            <img src="/assets/images/hotel.png" alt="" class="property__wrapper__type--image">

             <h3 class="property__wrapper__type--text">Hotel</h3>
          </div>
    
       </div>

</section>

            


<section class="Amenities ">
    <h2 class="Amenities__header ">Amenities</h2>


    <h3 class="Amenities__text">Essentials</h3>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="wifi">
        <label class="form-check-label" for="wifi">
         <h3 class="checkboxHeader">wifi</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Kitchen">
        <label class="form-check-label" for="Kitchen">
         <h3 class="checkboxHeader">Kitchen</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Washer">
        <label class="form-check-label" for="Washer">
         <h3 class="checkboxHeader">Washer</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="dryer">
        <label class="form-check-label" for="dryer">
         <h3 class="checkboxHeader">Dryer</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Airconditioning">
        <label class="form-check-label" for="Airconditioning">
         <h3 class="checkboxHeader">Air conditioning</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Heating">
        <label class="form-check-label" for="Heating">
         <h3 class="checkboxHeader">Heating</h3>
        </label>
      </div>
      <div class="form-check">
        <input 
        class="form-check-input" type="checkbox" value="" id="Dedicatedworkspace">
        <label class="form-check-label" for="Dedicatedworkspace">
         <h3 class="checkboxHeader">Dedicated workspace</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="tv">
        <label class="form-check-label" for="tv">
         <h3 class="checkboxHeader">TV</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="hairdryer">
        <label class="form-check-label" for="hairdryer">
         <h3 class="checkboxHeader">Hair dryer</h3>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="iron">
        <label class="form-check-label" for="iron">
         <h3 class="checkboxHeader">Iron</h3>
        </label>
      </div>
   


      <h3 class="Amenities__text">Features</h3>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Pool">
          <label class="form-check-label" for="Pool">
           <h3 class="checkboxHeader">Pool</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="hottub">
          <label class="form-check-label" for="hottub">
           <h3 class="checkboxHeader">Hot tub</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="freeparkingonpremises">
          <label class="form-check-label" for="freeparkingonpremises">
           <h3 class="checkboxHeader">Free parking on premises</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="evcharger">
          <label class="form-check-label" for="evcharger">
           <h3 class="checkboxHeader">Ev charger</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="crib">
          <label class="form-check-label" for="crib">
           <h3 class="checkboxHeader">Crib</h3>
          </label>
        </div>
      
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="gym">
          <label class="form-check-label" for="gym">
           <h3 class="checkboxHeader">Gym</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="bbqgrill">
          <label class="form-check-label" for="bbqgrill">
           <h3 class="checkboxHeader">BBQ grill</h3>
          </label>
        </div>
      
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="breakfast">
          <label class="form-check-label" for="breakfast">
           <h3 class="checkboxHeader">Breakfast</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="indoorfireplace">
          <label class="form-check-label" for="indoorfireplace">
           <h3 class="checkboxHeader">Indoor fireplace</h3>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="smokingallowed">
          <label class="form-check-label" for="smokingallowed">
           <h3 class="checkboxHeader">Smoking allowed</h3>
          </label>
        </div>
      
      
    
      </section>





      <section class="languages ">
        <h2 class="languages__header ">Host languages</h2>
        
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="English">
            <label class="form-check-label" for="English">
             <h3 class="checkboxHeader">English</h3>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="French">
            <label class="form-check-label" for="French">
             <h3 class="checkboxHeader">French</h3>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="German">
            <label class="form-check-label" for="German">
             <h3 class="checkboxHeader">German</h3>
            </label>
          </div>
     
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Japanese">
              <label class="form-check-label" for="Japanese">
               <h3 class="checkboxHeader">Japanese</h3>
              </label>
            </div>
        
       
        
          </section>
          <footer class="filter__footer">
            <div class="filter__footer__wrapper">
                <button 
                type="submit"
                class="filter__footer__wrapper--button">Show 1,000+homes</button>
            </div>
        </footer>
        </form>
</main>